.acesso {
  padding: 30px;
  padding-top: 10px;
  margin-top: 20px;

}

.head {
  padding-top: 30px;
  padding-left: 30px;
}

.button {
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.ancora {
  padding-top: 10px;
  margin-left: 130px;

}

.img-login {
  weight: 300px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 10px;
}
