.head {
  padding-top: 30px;
  padding-left: 30px;
}

.acesso {
  padding: 30px;
  margin-top: 50px;

}
.button {
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.ancora {
  padding-top: 10px;
  margin-left: 130px;

}
